body {
		 font-family: arial;
		 background-color: lightblue;}
h1 {
	word-spacing: 10px;
	font-family: georgia;
	text-align: center;
	color: red;
	border-style: solid;
	border-color: white;
  	border-width: 1px;
  	border-spacing: 20px;
  	border-radius: 25px;
  	padding: 20px;
	}
h2	{text-align: center;
	color: tomato;
	}
h3 {color: tomato;
	border-color: white;
  	border-width: 1px;
	}

img {
  display: block;
    }

table {
 		border-collapse: collapse;
 		width: 70%;
 		height: 50px;
		margin: auto;
  		
		}
footer {
	word-spacing: 10px;
	text-align: center;
	padding: 20px;
	color: grey;
}

/*h1	{ }

	p 	{
		  margin-top: 100px;
		  margin-bottom: 100px;
		  margin-right: 150px;
		  margin-left: 80px;
		}*/

	
	





ol {
  background: #ff9999;
  padding: 20px;
}

/*
ul {
  background: #3399ff;
  padding: 20px;
}
*/

li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}