body {
		font-family: georgia;
		background-color: #6d6e6a;
		color: white;}
h1 {
	word-spacing: 10px;
	font-family: georgia;
	text-align: center;
	font-size: 50px;
	/*color: red;
	border-style: solid;
	border-color: blue;
  	border-width: 1px;
  	border-spacing: 20px;
  	border-radius: 25px;*/
  	padding: 20px;
	}
h2	{text-align: center;
	/*color: tomato;*/
	}
h3 {/*color: tomato;*/
	border-color: white;
  	border-width: 1px;
	}

img {
  display: block;
    }

table {
 		border-collapse: collapse;
 		width: 80%;
 		height: 50px;
		margin: auto;
  		
		}
footer {
	word-spacing: 10px;
	text-align: center;
	padding: 20px;
	color: grey;
}

ol {
  background: #ff9999;
  padding: 20px;
  color: black;
}

ul {
  background: lightgrey;
  padding: 10px;
  color: black;
}

li {
  background: #ffffff;
  padding: 10px;
  margin-left: 35px;
  color: black;
}
form {
	font-family: arial;
	background-color: #6d6e6a;
	color: white;
	border-style: solid;
	border-color: white;
  	border-width: 3px;
  	border-spacing: 20px;
  	padding: 20px;
}
